input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.TextInput {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding-top: .9rem;
    overflow: visible;
}
.TextInput.NumberInput, .TextInput.PasswordInput, .TextInput.DateInput, .TextInput.ObjectInput {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], textarea {
    outline: none;
    border: 1px solid var(--sky) ;
    padding: 0.75rem;
    border-radius: var(--border-radius);
    font-family: 'Inter', sans-serif;
    color: var(--gray-medium);
    width: 100%;
    transition: 0.5s ease;
    box-sizing: border-box;
    font-size: 1rem;
    background-color: var(--bg-gray);
}
textarea {
    resize: none;
    min-height: 7rem;
}
input[type="number"], input[type="password"], .TextInput.PasswordInput input[type="text"], .TextInput.DateInput input[type="text"], .TextInput.ObjectInput input[type="text"] {
    text-align: center;
    border-radius: 0;
}
input[type="password"], .TextInput.PasswordInput input[type="text"], .TextInput.DateInput input[type="text"], .TextInput.ObjectInput input[type="text"] {
    text-align: left;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus, textarea:focus {
    border: 2px solid var(--lavender);
}

.label-input {
    position: absolute;
    left: 0.75rem;
    top: 1.7rem;
    color: var(--blue-1);
    font-size: 1rem;
    transition: 0.5s ease;
    pointer-events: none;
    overflow: visible;
    display: flex;
    flex-direction: row;
    align-items: end;
}
.label-input span {
    font-size: 1rem !important;
    color: var(--blue-1);
    margin-left: .15rem;
}
.TextInput.NumberInput .label-input {
    left: 3.5rem;
}
.TextInput:has(.main-input:not(:placeholder-shown)) .label-input{
    background-color: var(--sky);
}
.TextInput:has(.main-input:focus) .label-input, .TextInput:has(button:focus) .label-input{
    background-color: var(--lavender) !important;
}
.TextInput:has(.main-input:focus) .label-input, .TextInput:has(button:focus) .label-input, 
.TextInput:has(.main-input:not(:placeholder-shown)) .label-input {
    color: var(--white);
    font-size: 0.75rem;
    top: -0.1rem;
    left: 1.5rem;
    padding: 0.1rem 0.25rem 0 0.25rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.TextInput:has(.main-input:focus) .label-input span, .TextInput:has(button:focus) .label-input span, 
.TextInput:has(.main-input:not(:placeholder-shown)) .label-input span {
    color: var(--white);
}

.TextInput:has(.main-input:focus) button, .TextInput:has(button:focus) button {
    background-color: var(--lavender);
    color: var(--white) !important;
    border: none !important;
    border: 2px solid var(--lavender);
}
.TextInput:has(.main-input:focus) button span, .TextInput:has(button:focus) button span {
    color: var(--white) !important;
}
.TextInput:has(button:focus) .main-input {
    border: 2px solid var(--lavender);
}

.TextInput.NumberInput button, .TextInput.PasswordInput button, .TextInput.DateInput button, .TextInput.ObjectInput button {
    width: 2.5rem;
    border-top: 1px solid var(--sky);
    border-bottom: 1px solid var(--sky);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    background-color: var(--bg-gray);
}
.TextInput button span {
    color: var(--sky) !important;
}
.TextInput.NumberInput button.left { border-radius: var(--border-radius) 0 0 var(--border-radius); border-left: 1px solid var(--sky); }
.TextInput.NumberInput button.right, 
.TextInput.PasswordInput button.right, .TextInput.DateInput button.right, .TextInput.ObjectInput button.right
{ border-radius: 0 var(--border-radius) var(--border-radius) 0; border-right: 1px solid var(--sky); }

.TextInput.DateInput .date-input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.TextInput:has(.main-input:focus) input, .TextInput:has(button:focus) input, .TextInput:has(.main-input:focus) textarea {
    background-color: var(--white);
}