input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.TextInput {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding-top: .9rem;
    overflow: visible;
}
.TextInput.NumberInput, .TextInput.PasswordInput, .TextInput.DateInput, .TextInput.ObjectInput {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], textarea {
    outline: none;
    border: 1px solid var(--sky) ;
    padding: 0.75rem;
    border-radius: 1rem;
    font-family: 'Inter', sans-serif;
    color: #4a5568;
    width: 100%;
    transition: 0.5s ease;
    box-sizing: border-box;
    font-size: 1rem;
}
input[type="number"], input[type="password"], .TextInput.DateInput input[type="text"], .TextInput.ObjectInput input[type="text"] {
    text-align: center;
    border-radius: 0;
}
input[type="password"], .TextInput.DateInput input[type="text"], .TextInput.ObjectInput input[type="text"] {
    text-align: left;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus, textarea:focus {
    border: 2px solid var(--lavender);
}

.label-input {
    position: absolute;
    left: 0.75rem;
    top: 1.7rem;
    color: var(--blue-1);
    font-size: 1rem;
    transition: 0.5s ease;
    pointer-events: none;
    overflow: visible;
}
.TextInput.NumberInput .label-input {
    left: 3.5rem;
}
.TextInput:has(.main-input:not(:placeholder-shown)) .label-input{
    background-color: var(--sky);
}
.TextInput:has(.main-input:focus) .label-input, .TextInput:has(button:focus) .label-input{
    background-color: var(--lavender);
}
.TextInput:has(.main-input:focus) .label-input, .TextInput:has(button:focus) .label-input, 
.TextInput:has(.main-input:not(:placeholder-shown)) .label-input {
    color: white;
    font-size: 0.75rem;
    top: -0.1rem;
    left: 1.5rem;
    padding: 0.1rem 0.25rem 0 0.25rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.TextInput:has(.main-input:focus) button, .TextInput:has(button:focus) button, 
.TextInput:has(.main-input:not(:placeholder-shown)) button {
    background-color: var(--lavender);
    color: white;
    border: 2px solid var(--lavender);
}
.TextInput:has(button:focus) .main-input {
    border: 2px solid var(--lavender);
}

.TextInput.NumberInput button, .TextInput.PasswordInput button, .TextInput.DateInput button, .TextInput.ObjectInput button {
    width: 2.5rem;
    border-top: 1px solid var(--sky);
    border-bottom: 1px solid var(--sky);
    font-size: 1.5rem;
    color: var(--blue-1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}
.TextInput.NumberInput button.left { border-radius: 1rem 0 0 1rem; border-left: 1px solid var(--sky); }
.TextInput.NumberInput button.right, 
.TextInput.PasswordInput button.right, .TextInput.DateInput button.right, .TextInput.ObjectInput button.right
{ border-radius: 0 1rem 1rem 0; border-right: 1px solid var(--sky); }

.TextInput.DateInput .date-input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}