body, html {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif !important;
    color: var(--gray-medium);
}

* {
    scrollbar-width: none;
    transition: background-color 0.5s ease, color 0.5s ease;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    font-family: 'Inter', sans-serif !important
}

p, h1, h2, h3, h4, h5, h6, .title {
    margin: 0;
    padding: 0;
    color: var(--gray-medium);
}

a {
    text-decoration: none;
    color: inherit;
}

table, span{color: var(--gray-medium);}

.title {
    font-weight: 600;
    width: fit-content;
}

.icon{aspect-ratio: 1 / 1; height: 100%;}
.icon img, .icon img {
    filter: drop-shadow(var(--shadow-medium));
    height: 100%;
}

.button {
    background-color: var(--white);
    border: 1px solid var(--button-color);
    color: var(--button-color);
    height: 2rem;
    padding-inline: 1rem;
    border-radius: var(--border-radius);
}
.button:hover {
    filter: brightness(0.9);
}
.button.fill {
    background-color: var(--button-color);
    color: var(--white);
}

.button.primary { --button-color: var(--btn-primary); }
.button.secondary { --button-color: var(--btn-secondary); }
.button.info { --button-color: var(--btn-info); }
.button.success { --button-color: var(--btn-success); }
.button.warning { --button-color: var(--btn-warning); }
.button.accent { --button-color: var(--btn-accent); }