body, html {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #1e293b ;
}
/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}
* {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}
::-webkit-scrollbar-button {
    display: none;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6, .title {
    margin: 0;
    padding: 0;
    color: #4a5568 ;
}

a {
    text-decoration: none;
    color: inherit;
}

.title {
    font-weight: 600;
    width: fit-content;
}

.icon{aspect-ratio: 1 / 1; height: 100%;}
.icon img, .icon img {
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
    height: 100%;
}

.button {
    background-color: white;
    border: 1px solid var(--button-color);
    color: var(--button-color);
    height: 2rem;
    padding-inline: 1rem;
    border-radius: 0.75rem;
}
.button.fill {
    background-color: var(--button-color);
    color: var(--white);
}

.button.primary { --button-color: var(--btn-primary); }
.button.secondary { --button-color: var(--btn-secondary); }
.button.info { --button-color: var(--btn-info); }
.button.success { --button-color: var(--btn-success); }
.button.warning { --button-color: var(--btn-warning); }
.button.accent { --button-color: var(--btn-accent); }