.table-length-short {
    width: var(--table-width-short);
    min-width: var(--table-width-short);
    max-width: var(--table-width-short);
}

.table-length-xs {
    width: var(--table-width-very-small);
    min-width: var(--table-width-very-small);
    max-width: var(--table-width-very-small);
}

.table-length-small {
    width: var(--table-width-small);
    min-width: var(--table-width-small);
    max-width: var(--table-width-small);
}

.table-length-medium {
    width: var(--table-width-medium);
    min-width: var(--table-width-medium);
    max-width: var(--table-width-medium);
}

.table-length-large {
    width: var(--table-width-large);
    min-width: var(--table-width-large);
    max-width: var(--table-width-large);
}

.table-length-xl {
    width: var(--table-width-extra-large);
    min-width: var(--table-width-extra-large);
    max-width: var(--table-width-extra-large);
}

.table-length-full {
    flex: 1;
}